<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1, shirnk-to-fit"
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   
</head>
<body>
<h1>Bienvenidos al proyecto de NodeJS</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/crearCurso">Crear curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/verCursos">Ver cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/verCursosCoordinadorAbierto">Ver cursos abiertos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/verInscritos">Ver inscritos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actualizar">actualizar</a>
      </li>          
    </ul>
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Salir</button>
      </form>
  </div>
</nav>
</body>
</html>