
<!DOCTYPE html>
<html>
<head>
	<title>Trabajo NodeJS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1>Bienvenidos al proyecto de NodeJS</h1>
<navbar>
	<a href="/">Inicio</a>
	<a href="/crearUsuario">Crear curso</a>
	<a href="/verCursos">Ver cursos</a>
	<a href="/inscribir">Inscribir</a>
	<a href="/verInscritos">Ver inscritos</a>
</navbar>
</body>
</html>