{{>header}}
<div id="createUser" class="container">
<h2>Formulario para crear un nuevo curso</h2>
<p>utilice este formulario para ingresar la informacion del usuario</p>
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <form novalidate [formGroup]="userForm" action ="/verCursos" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id">id curso</label>
                    <input type="text" class="form-control" id="id" name="id">
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="modalidad">Modalidad</label>
                    <select class="form-control" id="modalidad" name="modalidad">
                    <option>Presencial</option>
                    <option>Virtual</option>
                </select>
                </div> 
                <div class="form-group col-md-6">
                    <label for="valor">Valor</label>
                    <input type="text" class="form-control" id="valor" name="valor">
                </div>
                <div class="form-group col-md-6">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion">
                </div>
                <div class="form-group col-md-6">
                    <label for="intensidad">Intensidad Horaria</label>
                    <input type="text" class="form-control" id="intensidad" name="intensidad">
                </div>                
            </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit">Guardar</button>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>

{{>footer}}