<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1, shirnk-to-fit"
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   
</head>
{{>alerta}}
<div id="createUser" class="container">
<h2>Formulario para ingresar un nuevo usuario</h2>
<p>utilice este formulario para ingresar la informacion del usuario</p>

    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <form class="needs-validation" action ="/crearUsuario" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id">Documento de identidad</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Documento de identidad es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="NOMBRE">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Nombre es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="you@example.com">
                    <div class="invalid-feedback">
                         Por favor ingrese correo electronico.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="" required="">
                    <div class="invalid-feedback">
                        Ingrese numero telefonico.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit">Guardar</button>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>

{{>footer}}