{{>header}}
<div id="createUser" class="container">
<h2>Formulario para crear un nuevo curso</h2>
<p>utilice este formulario para ingresar la informacion del usuario</p>
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <form class="needs-validation" action ="/verCursos" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCurso">id curso</label>
                    <input type="text" class="form-control" id="idCurso" name="idCurso" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Id es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Nombre es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="modalidad">Modalidad</label>
                    <select class="form-control" id="modalidad" name="modalidad" placeholder="" value="">
                    <div class="invalid-feedback">
                    modalidad es requerido.
                    </div>
                    <option>Presencial</option>
                    <option>Virtual</option>
                </select>
                </div> 
                <div class="form-group col-md-6">
                    <label for="valor">Valor</label>
                    <input type="text" class="form-control" id="valor" name="valor" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    valor es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    descripcion es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="intensidadHoraria">Intensidad Horaria</label>
                    <input type="text" class="form-control" id="intensidadHoraria" name="intensidadHoraria" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    intensidad horaria es requerido.
                    </div>
                </div>                
            </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit">Guardar</button>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>

{{>footer}}