<!DOCTYPE html>
<html>
<head>
    <title>Primera pagina</title>
    <link href="css/style.css" rel="stylesheet" type = "text/css">
</head>
<body>
    <h1>Bienvenidos {{estudiante}}</h1>
    <p>Primera pagina</p>
</body>
</html>
