{{>headerUsuario}}
    {{#if mensaje }}
        <div class="{{tipoMensaje}}" role="alert">
        {{mensaje}}
        </div>
    {{/if}}
<div id="createUser" class="container">
<h2>Formulario para elegir nuevo curso</h2>
<p>utilice este formulario para ingresar la informacion del usuario y el curso</p>
	<div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
		<br>
		<br>
		<form novalidate [formGroup]="userForm"action="/inscribir" method="post">
                <div class="form-group col-md-6">
                    <label for="id">Documento de identidad</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Documento de identidad es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    nombre es requerido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                    Correo es requerido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cursoDisponible">Cursos Disponibles</label>
                        <select name= "telefono" class="form-control">
                            {{#each listado}}
                                <option value="{{this.nombre}}">{{this.nombre}}</option>
                            {{/each}}
                        </select>
                 </div>
			<div class="form-row">
				<button class="btn btn-outline-primary" type="submit" 
			>Guardar</button>
			</div>
			<br>
			<br>
		</form>
	</div>
</div>

{{>footer}}