{{>header}}
<h2>se muestra el inscribir</h2>
<h2>Formulario para ingresar un nuevo curso</h2>
<p>utilice este formulario para ingresar la informacion del usuario</p>
<form action="/inscribir" method="get">
	<input type="text" name="documento">
	<input type="text" name="nombre">
	<button>enviar</button>
{{>footer}}