{{>header}}
<h2>se muestra el inscribir</h2>
<h2>Formulario para ingresar un nuevo curso</h2>
<p>utilice este formulario para ingresar la informacion del usuario</p>
<form action="/calculos" method="get">
	<input type="text" name="documento de identidad">
	<input type="text" name="id Curso">
	<button>enviar</button>
{{>footer}}