{{>headerLogin}}
<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div id="sigunup" class="container">
<h2>Iniciar sesion</h2>
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <form novalidate [formGroup]="userForm" action ="/login" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="idCurso">id de usuario</label>
                    <input type="text" class="form-control" id="documentoDeIdentidad" name="documentoDeIdentidad">
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit"> Sign me up</button>
            </div>
<br>
<br>
<br>
{{>footer}}