<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1, shirnk-to-fit"
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   
</head>
    {{#if mensaje }}
        <div class="{{tipoMensaje}}" role="alert">
        {{mensaje}}
        </div>
    {{/if}}
<body>

<div id="sigunup" class="container">
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
        <form class="form-signin" action ="/login" method="post">
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="idCurso">Documento de identidad</label>
                    <input type="text" class="form-control" id="documentoDeIdentidad" name="documentoDeIdentidad" required="true" autofocus="">
                </div>
            </div>
                <br>
                <div class="form-row">
                    <label>
                    <a href="/crearUsuario">Registrarse</a>
                    </label>
                </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit"> Sign me up</button>
            </div>
<br>
<br>
<br>
{{>footer}}