<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{{>alerta}}
<div id="sigunup" class="container">
    <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">
        <br>
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
        <form class="form-signin" action ="/login" method="post">
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="idCurso">Documento de identidad</label>
                    <input type="text" class="form-control" id="documentoDeIdentidad" name="documentoDeIdentidad" required="true" autofocus="">
                </div>
            </div>
                <br>
                <div class="form-row">
                    <label>
                    <a href="/crearUsuario">Registrarse</a>
                    </label>
                </div>
            <div class="form-row">
                <button class="btn btn-outline-primary" type="submit"> Sign me up</button>
            </div>
<br>
<br>
<br>
{{>footer}}